main {
    max-width: 440px;
    margin: 0 auto;
    font-family: var(--font-family);
    display: flex;
    flex-direction: column;
    gap: 40px;
}

h1 {
    font-size: 1.25rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.actions {
    display: flex;
    gap: 24px;
}
