main {
    max-width: 440px;
    margin: 0 auto;
    padding-top: 99px;
    font-family: var(--font-family);
    display: flex;
    flex-direction: column;
    gap: 40px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.actions {
    display: flex;
    gap: 24px;
}
