/* CSS Reset rules adapted from https://www.joshwcomeau.com/css/custom-css-reset/ */

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    -webkit-font-smoothing: antialiased;
    min-height: 100dvh;
    padding: 99px 16px 0;
}

#root {
    isolation: isolate;
}

/* Design tokens */
:root {
    --primary: #7424da;
    --secondary: #faf6ff;

    --font-family: "Inter Variable", sans-serif;
}
